/**
 * 	Author@ziv
 */

body {
	margin:0px;
	padding:0px;
}

header, footer {
	position:static;
	height:100px;
	line-height:100px;
	vertical-align:middle;
	padding:0px;
}

header, footer {
	text-indent: 20px;
}

header {
	border-bottom: 1px solid #757575;
	font-size:38.5px;
	font-weight: bold;
}

input,textarea {
	text-indent:10px;
}

#center {
	min-height:auto;
	float:left;
	width:100%;
}


#sec1 {
	float:left;
	width:700px;
	border-right: 1px solid #757575;
	min-height:400px;
	margin-left:20px;
}

#sec2 {
	float:left;
	width:400px;
	min-height:400px;
}

#head_key {
	width:100px;
}

.data_body {
	width: 315px;
	height: 150px;
}

#reqURL {
	width:450px;
}

#form1 input {
	margin:0px;
	padding:0px;
	height:30px;
}

table tr>td {
	text-align:right;
	padding-right:20px;
}

table tr {
	line-height:50px;
}

.td2 {
	text-align:left;
}

.td2 ul {
	padding:0px !important;
	margin:0px !important;
}

.td2 ul li {
	list-style: none;
	border-bottom:#757575 solid 1px;
	position:relative;
}

.op-remove {
	position: absolute;
	top: 2px;
	left: 435px;
	cursor: pointer;
}

.underline {
	border-bottom:solid 1px #757575 !important;
	float: left;
	width:315px;
	height: 20px;
}

footer {
	border-top:solid #757575 1px;
	float: left;
	width: 100%;
}
